torch==2.8.0+cu128
torchaudio==2.8.0+cu128
transformers==4.46.3
chatterbox-tts==0.1.4
librosa==0.11.0
soundfile>=0.13.1
scipy>=1.16.0
numpy<1.26.0,>=1.24.0
accelerate>=1.10.0
datasets>=4.0.0
diffusers==0.29.0
safetensors==0.5.3
s3tokenizer
conformer==0.3.2
resemble-perth==1.0.1
tqdm>=4.67.0
einops
gradio==5.44.1
pkuseg==0.0.25
pykakasi==2.3.0
